<article class="article">
    <header class="article-header">
        <h1>
            <% if(index) { %>
                <a href="<%- url_for(post.path) %>"><%- post.title %></a>
            <% } else {%>
                <%- post.title %>
            <% } %>
        </h1>
        <div class="article-header-meta">
            <%= post.author %>
            <%= date(post.date, 'DD-MM-yyyy') %>
        </div>
    </header>
    <div class="article-body">
        <% if(index) { %>
            <%- post.excerpt %>
            <br>
            <a href="<%- url_for(post.path) %>">Czytaj więcej</a>
        <% } else {%>
            <%- post.content %>
        <% } %>
    </div>
</article>