<article class="article">
    <header class="article-header">
        <h1>
            <% if(index) { %>
                <a href="<%- url_for(post.path) %>"><%- post.title %></a>
            <% } else {%>
                <%- post.title %>
            <% } %>
        </h1>
        <div class="article-header-meta">
            <div><i class="fa-solid fa-circle-user"></i> <%= post.author %></div>
            <div><i class="fa-regular fa-calendar-days"></i> <%= date(post.date, 'DD-MM-yyyy') %></div>
            <div><i class="fa-regular fa-folder-open"></i> <%- list_categories(post.categories, {show_count: false, amount: 1, style: false}) %></div>
        </div>
    </header>
    <div class="article-body">
        <% if(index) { %>
            <%- post.excerpt %>
            <br>
            <a href="<%- url_for(post.path) %>" class="read-more">Czytaj więcej <i class="fa fa-chevron-right"></i></a>
        <% } else {%>
            <%- post.content %>
        <% } %>
    </div>
    <% if (!index){ %>
      <%- partial('nav') %>
    <% } %>
</article>