<article class="article">
    <header class="article-header">
        <h1>
            <% if(index) { %>
                <a href="<%- url_for(post.path) %>"><%- post.title %></a>
            <% } else {%>
                <%- post.title %>
            <% } %>
        </h1>
        <div class="article-header-meta">
            <b>Autor:</b> <%= post.author %> |
            <b>Data utworzenia:</b> <%= date(post.date, 'DD-MM-yyyy') %> |
            <b>Kategoria:</b> <%- list_categories(post.categories, {show_count: false, amount: 1, style: false}) %>
        </div>
    </header>
    <div class="article-body">
        <% if(index) { %>
            <%- post.excerpt %>
            <br>
            <a href="<%- url_for(post.path) %>">Czytaj więcej</a>
        <% } else {%>
            <%- post.content %>
        <% } %>
    </div>
</article>